In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
import mysql.connector as connector

In [24]:
connection = connector.connect(user = "phuctc", password = "phuctc", db="littlelemondb")

In [25]:
cursor = connection.cursor()
show_query = "SHOW TABLES" 
cursor.execute(show_query)
results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('menuitems',), ('menus',), ('orderdeliverystatus',), ('orders',), ('ordersview',), ('staffs',)]

In [27]:
show_query = """
SELECT customers.Name, customers.Contact, orders.TotalCost 
FROM customers 
INNER JOIN bookings ON customers.CustomerID = bookings.CustomerID
INNER JOIN orders  ON bookings.BookingID = orders.BookingID
WHERE orders.TotalCost >= 60;
"""
cursor.execute(show_query)
results = cursor.fetchall()   

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
#print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

('Name', 'Contact', 'TotalCost')
('Lance Cheatle', '12345670051', Decimal('60.00'))
('Sherye Christmas', '12345670052', Decimal('60.75'))
('Lorne Boldry', '12345670053', Decimal('61.50'))
('Yardley Eliet', '12345670054', Decimal('62.25'))
('Doreen Sothcott', '12345670055', Decimal('63.00'))
('Petronille Scrimgeour', '12345670056', Decimal('63.75'))
('Faith Grushin', '12345670057', Decimal('64.50'))
('Hyacintha Hanne', '12345670058', Decimal('65.25'))
('Donni Tatem', '12345670059', Decimal('66.00'))
('Mary Jellett', '12345670060', Decimal('66.75'))
('Melodee Gartshore', '12345670061', Decimal('67.50'))
('Sheela Stein', '12345670062', Decimal('68.25'))
('Sterne Salterne', '12345670063', Decimal('69.00'))
('Mady McMennum', '12345670064', Decimal('69.75'))
('Merwin Pikhno', '12345670065', Decimal('70.50'))
('Aime Ferry', '12345670066', Decimal('71.25'))
('Merlina Lermit', '12345670067', Decimal('72.00'))
('Schuyler Walewski', '12345670068', Decimal('72.75'))
('Ariadne Copeland', '12345670069', Decimal('73.50'))
('Tamma Clink', '12345670070', Decimal('74.25'))
("Susette O'Neil", '12345670071', Decimal('75.00'))
('Aldrich Phythien', '12345670072', Decimal('75.75'))
('Dusty Yedall', '12345670073', Decimal('76.50'))
('Roanna Safont', '12345670074', Decimal('77.25'))
('Richie Brydson', '12345670075', Decimal('78.00'))
('Alfreda Chasmer', '12345670076', Decimal('80.00'))
('Renato Paulin', '12345670077', Decimal('81.00'))
('Janeva Silman', '12345670078', Decimal('82.00'))
('Wenona MacGinlay', '12345670079', Decimal('83.00'))
('Karissa Sancraft', '12345670080', Decimal('84.00'))
('Vale Norwood', '12345670081', Decimal('85.00'))
('Lance Cheatle', '12345670082', Decimal('86.00'))
('Sherye Christmas', '12345670083', Decimal('87.00'))
('Lorne Boldry', '12345670084', Decimal('88.00'))
('Yardley Eliet', '12345670085', Decimal('89.00'))
('Doreen Sothcott', '12345670086', Decimal('90.00'))
('Petronille Scrimgeour', '12345670087', Decimal('91.00'))
('Faith Grushin', '12345670088', Decimal('92.00'))
('Hyacintha Hanne', '12345670089', Decimal('93.00'))
('Donni Tatem', '12345670090', Decimal('94.00'))
('Mary Jellett', '12345670091', Decimal('95.00'))
('Melodee Gartshore', '12345670092', Decimal('96.00'))
('Sheela Stein', '12345670093', Decimal('97.00'))
('Sterne Salterne', '12345670094', Decimal('98.00'))
('Mady McMennum', '12345670095', Decimal('99.00'))
('Merwin Pikhno', '12345670096', Decimal('100.00'))
('Aime Ferry', '12345670097', Decimal('101.00'))
('Merlina Lermit', '12345670098', Decimal('102.00'))
('Schuyler Walewski', '12345670099', Decimal('103.00'))
('Ariadne Copeland', '12345670100', Decimal('104.00'))

True

In [28]:
cursor.close()
connection.close()